#moove_gdpr_cookie_fader{
	position: fixed; 
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .8;
    pointer-events: all;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
	z-index: 99998;
}

#moove_gdpr_cookie_info_bar {
	z-index: 99999 !important;
}